@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;900&display=swap');

body {
	display: grid;
	justify-content: center;
	text-align: center;
	height: 100vh;
	background-color: aqua;
	font-family: 'Roboto', sans-serif;
}

hr {
	margin-bottom: 4%;
	background-color: rgba(0, 0, 0, 0.109);
}

h1 {
	font-weight: 900;
}

tr {
    font-weight: 900;
}

.button {
	width: 100%;
}

.danger {
	float: left;
}

#card {
	width: 1000px;
	margin-top: 15%;
	margin-bottom: 7%;
	border-radius: 15px;
	box-shadow: 11px 8px 52px rgba(18, 18, 18, .35);
}

/* .spanMargin {
    margin-right: 2%;
    margin-left: 2%;
}

.containerMargin {
    margin-bottom: 5%;
}

.vehicleName {
    display: inline;
    float: left;
}

.totalNames {
    display: inline;
}

.totalMargins {
    margin-bottom: 2%;
    float: right;
}

.wagonContainer {
    margin-right: 3%;
}

.busContainer {
    margin-right: 1%;
} */
